.Curtain-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 100%;

    background-color: var(--mainBlack);

    z-index: 100;
    opacity: 1;
    animation: curtainVanishingAnim .75s ease-in-out 1s forwards;
}

.Curtain-logo {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 300px;

    transform: translate(-50%, -50%);
}

@keyframes curtainVanishingAnim {
    
    0% {
        top: 0;
    }
  
    100% {
        top: 100%;
    }
}

@media only screen and (max-width: 550px) {

    .Curtain-logo {
        width: 200px;
    }
}