.PortfolioOurWork-container {
    position: relative;

    padding: 90px 20px 0;

    z-index: 5;
}

@media only screen and (max-width: 768px) {

    .PortfolioOurWork-container {
        padding: 64px 20px 0;
    }
}

@media only screen and (max-width: 550px) {

    .PortfolioOurWork-container {
        padding: 44px 20px 0;
    }
}