.Footer-containerBtns.PortfolioFooter {
    position: relative;
}

.PortfolioFooter .Footer-btnSocial {
    position: absolute;
    top: 0;
    left: 50%;

    transform: translateX(-50%);
}

.PortfolioFooter-containerBtnBackToUp {
    position: fixed;
    right: 20px;
    bottom: 119px;

    z-index: 99;
}

.PortfolioFooter-btnBackToUp {
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--mainBlack);

    width: 50px;
    height: 50px;
}

.PortfolioFooter-iconBtnBackToUp {
    width: 22px;

    margin: 0 0 2px;

    fill: var(--mainGreen);

    z-index: 5;
}

@media only screen and (max-width: 550px) {

    .PortfolioFooter-containerBtnBackToUp {
        bottom: 97px;
    }

    .PortfolioFooter-btnBackToUp {
        width: 40px;
        height: 40px;
    }

    .PortfolioFooter-iconBtnBackToUp {
        width: 18px;
    }
}