.PortfolioHeader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 98px;
}

.PortfolioHeader-wrapper {
    position: relative;

    align-items: center;
}

.PortfolioHeader-containerBtnBackToMainPage {
    display: flex;

    width: 220px;
}

.PortfolioHeader-iconBtnBackToMainPage {
    width: 12px;
    height: 12px;

    margin: 4px 0 0;

    fill: var(--mainWhite);
}

.PortfolioHeader-containerBtnBackToMainPage:hover .PortfolioHeader-iconBtnBackToMainPage {
    fill: var(--mainGreen);
}

.PortfolioHeader-textBtnBackToMainPage {
    margin: 0 0 0 6px;

    color: var(--mainWhite);
}

.PortfolioHeader-containerToggleView {
    display: flex;

    max-width: 700px;
    width: 100%;
    height: 100%; 

    padding: 5px;
    margin: 0 20px;

    border: 1px solid white;
    border-radius: 55px;
}

.PortfolioHeader-mainBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 220px;
    min-width: 110px;
    height: 52px;
}

@media only screen and (max-width: 1440px) {

    .Header-containerBtnBackToMainPage {
        width: 141px;
    }
}

@media only screen and (max-width: 768px) {

    .PortfolioHeader-containerToggleView {
        display: none;
    }
}

@media only screen and (max-width: 550px) {

    .PortfolioHeader-container {
        height: 72px;
    }
    
    .PortfolioHeader-mainBtn {
        width: 170px;
        height: 40px;
    }
}